@import "_colors"

.InfoPanel
  box-shadow: 0px 0px 2px $shadow
  margin: 8px 0
  width: 100%
  color: $secondary
  font-weight: lighter
  font-family: 'Dosis'
  letter-spacing: 1px
  div
    padding: 0 10px
    height: 50px
    display: flex
    justify-content: space-between
    align-items: center
    margin: 5px
  .Value
    font-size: 30px
    letter-spacing: 2px
  .Field
    font-size: 20px
    color: $primary
    svg
      position: relative
      bottom: 2px
      padding-right: 5px
  @media print
    box-shadow: none
    margin: 0
    padding: 0
    vertical-align: center
    text-align: center
    .Field
      font-size: 18px
      color: black
      svg
        display: none
    .Value
      font-size: 18px
      color: black
    div
      padding: 0
      margin: 0
      