.LabelsPageSidebar
  height: 100%
  width: 30%
  padding: 9px
  border-right: 1px solid rgba(gray, 0.1)
  box-sizing: border-box
  display: flex
  flex-direction: column
  justify-content: space-between
  @media print
    display: none
    height: auto
    border: 1px solid black
    justify-content: center