@import "_colors"
@import "_config"

.LabelsPage
  display: flex
  flex-direction: column-reverse
  height: $LAYOUT_PAGE_HEIGHT * 1%
  .LabelsPageBody
    height: $LABELS_PAGE_BODY_HEIGHT * 1%
    display: flex
    width: 100%
  @media print
    .LabelsPageBody
      flex-direction: column
      align-items: center