@import "_colors"
@import "_config"

.LabelsListContainer
  height: 100%
  width: 70%
  display: flex
  justify-content: space-between
  color: $secondary
  .SentLabelsList, .ReceivedLabelsList
    height: 100%
    width: 50%
    padding: 4px
    box-sizing: border-box
    text-align: center
  .SentLabelsList
    border-right: 1px solid rgba(gray, 0.1)
  .ContainerInfo
    margin: 3px 
    padding: 0
    display: inline
    border-bottom: 1px solid $primary
    padding: 2px 8px
  .LabelsList
    height: 97% 
    overflow: scroll
    padding: 5px
    box-sizing: border-box
    overflow-x: hidden
  @media print
    margin-top: 20px
    width: 100%
    flex-direction: column
    align-items: center
    justify-content: flex-start
    flex-wrap: wrap
    .ContainerInfo
      border-bottom: 1px solid black
    .LabelsList 
      height: auto
    .SentLabelsList
      border: none