@import "_colors"

.LabelHeader
  display: flex
  justify-content: space-between
  border-bottom: 1px solid $secondary1
  padding: 5px
  .LabelIcons svg
    position: relative
    top: -2px // fix this hack to show icons little bit on top
    margin: 0 2px
  .EditIcon, .DeleteIcon
    &:hover
      color: red
      cursor: pointer
      color: $primary
  .LabelPlace
    color: $primary
  @media print
    svg
      display: none
    .LabelPlace
      color: black