@import "_colors"
@import "_config"

.LayoutTab
  width: 100%
  height: $LAYOUT_TAB_HEIGHT * 1%
  display: flex
  justify-content: center
  box-shadow: 1px 1px 2px $shadow
  z-index: 5
  a
    text-decoration: none
  .TabButton
    height: 100%
    width: 10%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    box-sizing: border-box
    color: $secondary
    transition: 0.4s
    &.active
      color: $primary
    &:hover
      color: $primary
  @media print
    display: none