@import "_colors"
@import "_config"

.SettingsPage
  height: $LAYOUT_PAGE_HEIGHT * 1%  
  background-color: $primary
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  input, button
    &:focus
      outline: none
  .SettingsForm
    width: 40% 
    border-radius: 5px
    padding: 5px
  .SettingInput
    display: flex
    padding: 5px
    justify-content: space-between
    border-bottom: 1px solid white
    color: white
    margin: 8px 0
    label
      font-size: 30px
    input
      border: none
      background-color: transparent
      color: white
      font-size: 25px
      text-align: right
      &:-webkit-autofill 
      -webkit-box-shadow: 0 0 0 30px coral inset
      -webkit-text-fill-color: white
  button.SubmitSettings
    color: $primary
    width: 100%
    border: none
    padding: 10px
    background-color: white
    font-size: 20px
    cursor: pointer
    &:active
      background-color: coral
      color: white