@import "_colors"
@import "_config"

.LabelsPageBar
  height: $LABELS_PAGE_BAR_HEIGHT * 1%
  box-shadow: -1px -1px 2px $shadow
  z-index: 5
  box-sizing: border-box
  .SearchAndSort
    display: flex
    justify-content: flex-start
    align-items: center
    height: 100%
    div
      margin: 0 10px
    input, select
      &:focus
        outline: none
    div.SearchLabels
      border: 1px solid gray
      border-radius: 5px
      display: flex
      align-items: center
      justify-content: center
      label
        color: $primary
        padding: 0
        padding-left: 3px
        position: relative
        bottom: 1px
      input 
        border: 1px solid transparent
        margin-right: 2px
        font-size: 16px
        color: $primary
        width: 120px
    div.SortLabels
      select
        border: 1px solid gray
        color: $primary
        font-size: 16px
        height: 24px
  @media print
    display: none