@import "_colors"

.AutoSuggest
  display: flex
  flex-direction: column
  width: 44%
  padding: 3px
  font-size: 14px
  color: $secondary

.react-autosuggest__container
  position: relative

.react-autosuggest__input
  border: 1px solid rgba($secondary,0.1)
  height: 28px
  transition: 0.7s
  font-size: 18px
  width: 95%
  padding-left: 5px
  color: $secondary
  &:focus
    border-bottom: 1px solid $primary
  &:disabled
    color: gray
    cursor: not-allowed

.react-autosuggest__input--focused
  outline: none

.react-autosuggest__input::-ms-clear
  display: none

.react-autosuggest__input--open
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0

.react-autosuggest__suggestions-container
  display: none

.react-autosuggest__suggestions-container--open
  display: block
  position: absolute
  width: 98%
  border: 1px solid $secondary
  background-color: #fff
  font-weight: 300
  font-size: 16px
  border-bottom-left-radius: 4px
  border-bottom-right-radius: 4px
  z-index: 2
  max-height: 200px
  overflow: hidden

.react-autosuggest__suggestions-list
  margin: 0
  padding: 0
  list-style-type: none

.react-autosuggest__suggestion
  cursor: pointer
  padding: 10px 20px

.react-autosuggest__suggestion--highlighted
  background-color: #ddd

.react-autosuggest__section-container
  border-top: 1px dashed #ccc

.react-autosuggest__section-container--first
  border-top: 0

.react-autosuggest__section-title
  padding: 10px 0 0 10px
  font-size: 12px
  color: #777