@import "_colors"

.AddLabelInput
    display: flex
    flex-direction: column
    width: 44%
    padding: 3px
    font-size: 14px
    color: $secondary
    input
      border: 1px solid rgba($secondary,0.1)
      height: 28px
      transition: 0.7s
      font-size: 18px
      padding-left: 5px
      color: $secondary
      &:focus
        border-bottom: 1px solid $primary
      &:disabled
        color: gray
        cursor: not-allowed