@import "_colors"

.FormContainer
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 5px
  margin: 1px 0
  &.Place
    button
      border: none
      background-color: transparent
      position: relative
      top: 8px
      cursor: pointer
      color: $secondary
      &:active
        color: $primary
.AddLabelFormButtons
  display: flex
  justify-content: flex-end
  padding: 5px
  button
    border: none
    box-shadow: 0 0 1px $shadow
    background-color: transparent
    margin: 3px 5px
    font-size: 15px
    padding: 5px 9px
    cursor: pointer
    &.Add
      background-color: $primary
      color: $white
    &.Clear
      background-color: $white
      color: $secondary
    &:active
      color: $secondary
    &:focus
      box-shadow: 0px 0px 10px $shadow