@import "_colors"

@font-face
  font-family: Roboto
  src: url(../sass/fonts/Roboto-Regular.ttf)
@font-face
  font-family: Dosis
  src: url(../sass/fonts/Dosis/Dosis-Regular.ttf)

body 
  margin: 0
  padding: 0
  font-family: "Roboto"

input:-webkit-autofill 
  -webkit-box-shadow: 0 0 0 30px white inset
  -webkit-text-fill-color: $secondary

@media screen
  ::-webkit-scrollbar
    width: 5px
  
  ::-webkit-scrollbar-track:vertical
    background-color: transparent
    border-radius: 10px
  
  ::-webkit-scrollbar-thumb:vertical
    border-radius: 10px
    background-color: $primary
