@import "_colors"

.LabelBody
  display: flex
  flex-direction: column-reverse
  
  .AmountContainer
    display: flex
    justify-content: space-between
    align-items: center
    padding: 5px
    color: $secondary
    font-size: 18px
    .Charge
      display: flex
      flex-direction: column

  .ClientsContainer
    display: flex
    .ClientContainer
      width: 50%
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      padding: 8px
      & > span
        padding: 2px
        letter-spacing: 1px
      .ClientType
        border-bottom: 1px solid $secondary
        width: 100%
        color: $secondary
        text-align: center
  @media print
    .AmountContainer
      color: black
    .ClientsContainer
      .ClientContainer
        .ClientType
          font-weight: normal
          color: black