@import "_colors"

.Label
  width: 99.5%
  box-shadow: 0px 0px 3px $shadow
  display: flex
  flex-direction: column
  margin: 15px auto
  color: $secondary
  @media print
    box-shadow: none
    border: 1px solid gray
    page-break-inside: avoid