@import "_colors"

.LabelFooter
  display: flex
  justify-content: space-between
  border-top: 1px solid $secondary1
  padding: 5px
  .LabelMeta svg
    margin: 0 2px
  .paid, .called
    color: $primary
  @media print
    svg
      display: none