@import "_config"
@import "_colors"

.AccountsPage
  height: $LAYOUT_PAGE_HEIGHT * 1%
  .AccountsPageInfo
    display: flex
    justify-content: center
    align-items: flex-end
    width: 100%
    height: $ACCOUNTS_PAGE_INFO_HEIGHT * 1%
    color: $secondary
    span
      padding: 0px 15px
  .AccountsPageTables
    width: 100%
    height: $ACCOUNTS_PAGE_TABLES_HEIGHT * 1%
    display: flex
    justify-content: center
    .CreditTable, .DebitTable
      width: 40%
      height: 100%
      margin: 0 5px
      padding: 5px
      display: flex
      flex-direction: column
      justify-content: center
      box-sizing: border-box
    .Entry
      color: $secondary
      display: flex
      justify-content: space-between
      border-bottom: 1px solid rgba($secondary, 0.1)
      padding: 8px
      &.Header, &.Total
        color: $primary
        border-bottom-color: $primary
    .EntriesList
      height: 88%
      overflow: scroll
      overflow-x: hidden
  @media print
    .AccountsPageTables
      align-items: flex-start
      justify-content: space-around
      .EntriesList
        height: auto
      .CreditTable, .DebitTable
        height: auto
      .Entry
        page-break-inside: avoid